#mainContent {
  border: 1px solid red;
  background-color: rgb(255,230,230);
}
.queueView {
  border: 1px blue dotted;
  background-color: rgb(230, 230, 230 )
}

.patientWaiting{
  background-color: white;
  margin: 6px;
  padding: 6px;
  border-width: 3px;
  border-style :solid;
}
.patientName{
font-weight: bold;

}
.HighPriority{
border-color: red;
border-left-width: 8px;
}

.MediumPriority{
border-color: orange;
border-left-width: 8px;
}

.LowPriority{
border-color: blue;
border-left-width: 8px;
}
